







<%- include('../header') -%>

<div class="main-content">
 <div class="col-lg-12">
   
    <%  if (locals?.message) {  %>
 
        
      <div class="alert alert-success" role="alert">
        <%= message %>
      </div>
    
  <% } %>

  
    <div class="col-lg-6" style="padding:0;">
    <div class="form-horizontal" style="display:flex; justify-content:space-between;">
        
        <div>
           
            <input type="date" placeholder="date début" onchange="filterTable()" class="form-control" id="startDate" style="width:200px;" name="debut">
        </div>

              <div>
                
                <input type="date" placeholder="date fin" onchange="filterTable()" class="form-control" id="endDate" style="width:200px;margin-left:15px;" name="fin">
              </div>
                

       
      </div>
    </div>
  

  <div class="table-data__tool-right" style="margin-bottom:15px;">
   
</div>

<% var entrees =0;
    var sorties =0;
    var soldes =0;
    if ((locals?.commandes && locals?.commandes.length != 0) || (locals?.ventes && locals?.ventes.length != 0) || (locals?.acomptes && locals?.acomptes.length != 0)) { 
       %>
       
    <div class="table-responsive table-responsive-data2" style="width:100%;">
      
        <table class="table table-borderless table-striped table-earning" id="myTable">
          <thead>
            <tr>
              <th>date</th>
              <th>Fait par</th>
              <th>Action</th>
              <th>entrées</th>
              <th>sorties</th>
              <th>Solde</th>
           
             
             
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i< depenses.length; i++) {  %>
              <tr>
                <td><%= depenses[i].date %></td>
                <td> entreprise  </td>
                <td> dépenses </td>
              <td> 0 </td>
              <td> <% if(depenses[i].sortie == 0 || depenses[i].sortie== null ){ %>
                0 <% } else{ %>  <%= depenses[i].sortie %> <% } %> </td>
              <td> <% if(depenses[i].sortie == 0 || depenses[i].sortie== null ){ %>
                0 <% } else{ %> - <%= depenses[i].sortie %> <% } %></td>
              <% sorties = sorties + depenses[i].sortie  %>
            
               
              </tr>
              <% }  %>
            <% for(var i=0; i< commandes.length; i++) {  %>
            <tr>
              <td><%= commandes[i].date %></td>
              <td> entreprise  </td>
              <td> commande </td>
            <td> 0 </td>
            <td> <% if(commandes[i].sortie == 0 || commandes[i].sortie== null ){ %>
              0 <% } else{ %>  <%= commandes[i].sortie %> <% } %> </td>
            <td> <% if(commandes[i].sortie == 0 || commandes[i].sortie== null ){ %>
              0 <% } else{ %> - <%= commandes[i].sortie %> <% } %></td>
            <% sorties = sorties + commandes[i].sortie  %>
          
             
            </tr>
            <% }  %>
    
            <% for(var i=0; i< ventes.length; i++) {  %>
              <tr>
                <td><%= ventes[i].date %></td>
                <td>  <%= ventes[i].prenom %> <%= ventes[i].nom %> </td>
                <td> versement </td>
              <td> <% if(ventes[i].entree == 0 || ventes[i].entree== null ){ %>
                0 <% } else{ %>  <%= ventes[i].entree %> <% } %> </td>
              <td> 0 </td>
              <td>  <% if(ventes[i].entree == 0 || ventes[i].entree== null ){ %>
                0 <% } else{ %>  <%= ventes[i].entree %> <% } %></td>
             
              <% entrees = entrees + ventes[i].entree  %>
          
               
              </tr>
              <% }  %>
              <% for(var i=0; i< acomptes.length; i++) { 
                if(!(acomptes[i].entree == 0 || acomptes[i].entree== null) ){  %>
                <tr>
                  <td><%= acomptes[i].date %></td>
                  <td>  <%= acomptes[i].prenom %> <%= acomptes[i].nom %> </td>
                  <td> acompte </td>
                <td> <% if(acomptes[i].entree == 0 || acomptes[i].entree== null ){ %>
                  0 <% } else{ %>  <%= acomptes[i].entree %> <% } %> </td>
                <td> 0 </td>
                <td>  <% if(acomptes[i].entree == 0 || acomptes[i].entree== null ){ %>
                  0 <% } else{ %>  <%= acomptes[i].entree %> <% } %></td>
               
                <% entrees = entrees + acomptes[i].entree  %>
            
                 
                </tr>

              <% } } %>
    
              
    
                
                  <% soldes = entrees - sorties  %>
                  <tr>
                    <td></td>
                    <td>  </td>
                    <td> Total </td>
                  <td> <%= entrees %> </td>
                  <td> <%= sorties %> </td>
                  <td>  <%= soldes %></td>
                 
                
                   
                  </tr
            <!-- Add more rows as needed -->
          </tbody>
        </table>
        <% }else{  %>
          
          <% } %>
    </div>
</div>
</div>

<!-- modal large -->

<script>

function filterTable() {
  if(document.getElementById("startDate").value.length != 0 && document.getElementById("endDate").value.length != 0 ){
            const startDate = new Date(document.getElementById("startDate").value);
            const endDate = new Date(document.getElementById("endDate").value);
            const table = document.getElementById("myTable");
            const rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");

            for (let i = 0; i < rows.length; i++) {
                const dateCell = rows[i].getElementsByTagName("td")[0];
                const rowDate = new Date(dateCell.textContent);

                if(endDate >= startDate)
                {
                if (rowDate >= startDate && rowDate <= endDate) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
              }else{
                if (rowDate >= endDate && rowDate <= startDate) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
              }
            }
          }
        }

</script>


<!-- end modal large -->
<%- include('../footer') -%>