

<%- include('header') -%>

<div class="main-content">
  <div class="col-lg-12">
   
    <%  if (locals?.message) {  %>
 
        
      <div class="alert alert-success" role="alert">
        <%= message %>
      </div>
    
  <% } %>

  

  <div class="table-data__tool-right" style="margin-bottom:15px;">
    <button class="au-btn au-btn-icon au-btn--green col-lg-6" data-toggle="modal" data-target="#largeModal">
        <i class="zmdi zmdi-plus"></i>ajouter commande</button>
   
</div>
<%  if (locals?.commande && locals?.commande.length != 0) { %>
  <input type="text" id="searchInput" class="form-control col-lg-6" style="width:300px;margin-bottom:6px;" placeholder="Search ...">
    <div class="table-responsive table-responsive-data2" style="width:100%;">
      
        <table class="table table-borderless table-striped table-earning" id="clientTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Montant</th>
                    <th>Etat</th>
                    <th>fournisseur</th>
                    
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
              <%   
        for(var i=0; i< commande.length; i++) { %>
                <tr>
                    <td><%= commande[i].id %></td>
                    <td><%= commande[i].montant %></td>
                    <td><%= commande[i].etat %></td>
                    <td><%= commande[i].nom %></td>
                   
                    <td>
                     <% let dlink3 = '/supprimer_commande/?id='+commande[i].id;
                     let target = "#largeModal"+commande[i].id;
                     let targetx = "#largeModalx"+commande[i].id;
                     let del = "del"+commande[i].id;
                     let delx = "del"+commande[i].id+"x"; %>
                      <div class="table-data-feature">
                          <button class="item"  data-toggle="modal" data-target="<%= targetx %>" data-placement="top" title="afficher">
                              <i class="fa fa-eye"></i>
                          </button>
                          <button class="item"  data-placement="top" title="Modifier" data-toggle="modal" data-target="<%= target %>">
                              <i class="zmdi zmdi-edit"></i>
                          </button>
                          <button  onclick="sup('<%= del %>')" class="item" data-toggle="tooltip" data-placement="top" title="supprimer">
                              <i class="zmdi zmdi-delete"></i>
                          </button>
                          <a href="<%= dlink3 %>" id="<%= delx %>"></a>
                          
                      </div>
                  </td>
                </tr>
                <% }  %>
               <script>

                function sup(x)
                {
                  if(confirm("vous risquez de supprimer les livraisons liées à cette commande, souhaitez vous continuer ?")==true)
                {
                  var s = x+"x";
                  document.getElementById(s).click();
                }
                }
               </script>
            </tbody>
        </table>
        <% }else{  %>
          Aucune commande trouvée
          <% } %>

          <nav style="margin-top:30px;">
            <ul class="pagination justify-content-center">
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="/all_commandes?page=<%= currentPage - 1 %>">Previous</a>
                    </li>
                <% } %>
    
                <% for(let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="/all_commandes?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
    
                <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                        <a class="page-link" href="/all_commandes?page=<%= currentPage + 1 %>">Next</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>
</div>

<!-- modal large -->

<% for (var i=0; i< commande.length; i++){
  
  let target = "largeModal"+commande[i].id; 
  let label = "largeModalLabel"+commande[i].id;

  %>

  <div class="modal fade" id="<%= target %>" tabindex="-1" role="dialog" aria-labelledby="<%= label %>" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%= label %>">Modifier commande</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <form action="/modifier_commande" method="post">

      <div class="modal-body">
        <p>
<input type="hidden" name="id" value="<%= commande[i].id %>">

    
<div class="card-body card-block">
  



<div >
<%  
var p=1;
  for(var k=0; k< pc.length; k++) {
    if(commande[i].id == pc[k].id_commande){
     
    %>
<div >
  <div class="card-body card-block">
  
    <div class="row form-group">
        <div class="col col-md-8">
          Produits
          <select class="form-control" style="width:200px;" required class="col-md-6"  name="produit[]">
            <option value='<%= pc[k].id_produit %> '><%= pc[k].nom %> </option>
              <%  
              for(var j=0; j< produits.length; j++) {
                if(produits[j].id_produit != pc[k].id_produit){
                %>
          <option value='<%= produits[j].id_produit %> '><%= produits[j].nom %> </option>
          
          <%  }} %>
          </select>
        </div>
        <div class="col col-md-4">
       
     Quantité <input type="number" style="border:1px solid gray;" placeholder="quantité" class="col-md-8" name="quantite[]" required min="0" value="<%= pc[k].quantite %>"  class="form-control"> 
     <% if(p != 1){ %>
      <button  onclick="del(event)"   class="item" data-toggle="tooltip" data-placement="top" title="supprimer"> <i class="zmdi zmdi-delete"></i></button>
      <% }
      p=p+1; %>
        </div>
    </div> 
</div>





</div>





<script>
  function del(event)
  {
    event.target.parentNode.parentNode.parentNode.parentNode.parentNode.removeChild(event.target.parentNode.parentNode.parentNode.parentNode);   }
function ajout(event)
{
let my_elem = event.target.parentNode.parentNode.parentNode;
let span=' <div  id="sg"><div class="card-body card-block"><div class="row form-group"><div class="col col-md-8"> Produits <select class="form-control" style="width:200px;"  class="col-md-6" required  name="produit[]"><%   for(var j=0; j< produits.length; j++) { %> <option value="<%= produits[j].id_produit %> "><%= produits[j].nom %> </option> <%  } %>  </select>   </div>  <div class="col col-md-4"> Quantité <input type="number" style="border:1px solid gray;" class="col-md-8" placeholder="quantité" name="quantite[]" required min="0"  class="form-control">   <button  onclick="del1(event)" type="button"  class="item" data-toggle="tooltip" data-placement="top" title="supprimer">  <i class="zmdi zmdi-delete"></i>  </button>  </div>  </div>  </div>';

event.target.parentNode.parentNode.parentNode.parentNode.parentNode.innerHTML+=span;
}
</script>
<%  
}
}     
        %>


            

</div>


<div class="card-body card-block">
  
<div class="row form-group">
    <div class="col col-md-10">
      
    </div>
    <div class="col col-md-4">
      <button type="button" onclick="ajout(event)"  class="item" data-toggle="tooltip" data-placement="top" title="ajouter">
        <i class="fas fa-plus-square"></i>
      </button>
    </div>
</div> 
</div> 


</div>





   
    
   

    <div class="form-group">
      <label for="tel" class=" form-control-label">montant</label>
      <input type="number" name="montant" required min="0" value="<%= commande[i].montant %>" class="form-control">
  </div>
    
  <div class="form-group">
    Fournisseur
    <select class="form-control" style="width:200px;"  class="col-md-6" required  name="id_fournisseur">
      <option value='<%= commande[i].id_fournisseur %> '><%= commande[i].nom %> </option>
      <%  
       for(var j=0; j< fournisseurs.length; j++) {
         if(commande[i].id_fournisseur != fournisseurs[j].id){
         %>
   <option value='<%= fournisseurs[j].id %> '><%= fournisseurs[j].nom %> </option>
   
   <%  }} %>
   </select> 
  </div>



           </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </form>
      </div>
    </div>
  </div>
</div>

<% } %>

<% for (var i=0; i< commande.length; i++){
  
  let target = "largeModalx"+commande[i].id; 
  let label = "largeModalLabelx"+commande[i].id;

  %>

  <div class="modal fade" id="<%= target %>" tabindex="-1" role="dialog" aria-labelledby="<%= label %>" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%= label %>">informations Commande</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      

      <div class="modal-body">
   

           <div class="supplier-container">
            <div class="supplier-card">
                <div class="supplier-header">
                    <h2 class="supplier-name">commande: #<%= commande[i].id %></h2>
                </div>
                <div class="supplier-body">
                    <p class="supplier-detail"> Date: <%= commande[i].date %></p>
                    <p class="supplier-detail"> Etat: <%= commande[i].etat %></p>
                    <p class="supplier-detail"> Fournisseur: <%= commande[i].nom %></p>
                    <p class="supplier-detail"> Montant: <%= commande[i].montant %></p>
                    <table class="order-table">
                      <thead>
                          <tr>
                              
                              <th>Quantité</th>
                              <th>Produit</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% for (var j=0; j< pc.length;j++){ 
                         if(pc[j].id_commande == commande[i].id){ %>
                          <tr>
                              
                              <td><%= pc[j].quantite %></td>
                              <td><%= pc[j].nom %></td>
                          </tr>
                          <% }} %>
                      </tbody>
                      </table>
                </div>
            </div>
        </div>
  
           


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
       
      </div>
    </div>
  </div>
</div>

<% } %>


<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel">Créer une commande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="/ajouter_commande" method="post">

    <div class="modal-body">

<div class="card-body card-block">
  
  <div class="form-group">
    <label for="nom" class=" form-control-label">date</label>
<input type="date" class="form-control" name="date">
    </div>


<div class="form-group">
  <label for="tel" class=" form-control-label">montant</label>
  <input type="number" name="montant" required min="0"  class="form-control">
</div>

<div class="form-group">
   <label for="tel" class=" form-control-label">Fournisseur</label>
  <select class="form-control"   required  name="id_fournisseur">
    <%  
     for(var j=0; j< fournisseurs.length; j++) {
       
       %>
 <option value='<%= fournisseurs[j].id %> '><%= fournisseurs[j].nom %> </option>
 
 <%  } %>
 </select> 
</div>
<div id="group">
  <div  id="sg">
    <div class="card-body card-block">
    
      <div class="row form-group" style="padding:0px;">
          <div class="col col-lg-3">
            Produit
            <select class="form-control"   required  name="produit[]">
              <%  
               for(var j=0; j< produits.length; j++) {
                 
                 %>
           <option value='<%= produits[j].id_produit %> '><%= produits[j].nom %> </option>
           
           <%  } %>
           </select> 
          </div>
          <div class="col col-lg-3">
            
          Quantité  <input type="number" class="form-control"  placeholder="quantité" name="quantite[]" required min="0"  class="form-control">
             
          </div>
      </div> 
 </div>
  </div>

  






</div>
<div class="card-body card-block">
    
  <div class="row form-group">
      <div class="col col-md-10">
        
      </div>
      <div class="col col-md-4">
        <button type="button" onclick="ajout1(event)"   class="item" data-toggle="tooltip" data-placement="top" title="ajouter">
          <i class="fas fa-plus-square"></i>
        </button>
      </div>
  </div> 
</div>
  <script>
    function del1(event)
    {
event.target.parentNode.parentNode.parentNode.parentNode.parentNode.removeChild(event.target.parentNode.parentNode.parentNode.parentNode);
    }
function ajout1(event)
{
var a = document.getElementById("group").innerHTML;
document.getElementById("group").innerHTML= a+' <div  id="sg"><div class="card-body card-block"><div class="row form-group" style="padding:0px;"><div class="col col-lg-3"> Produit <select class="form-control" required  name="produit[]"><%   for(var j=0; j< produits.length; j++) { %> <option value="<%= produits[j].id_produit %> "><%= produits[j].nom %> </option> <%  } %>  </select>   </div>  <div class="col col-lg-3"> Quantité <input type="number"  class="form-control" placeholder="quantité" name="quantite[]" required min="0"  class="form-control">   <button  onclick="del1(event)" type="button"  class="item" data-toggle="tooltip" data-placement="top" title="supprimer">  <i class="zmdi zmdi-delete"></i>  </button>  </div>  </div>  </div>';
}
  </script>

</div>




         </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    </div>
  </div>
</div>
</div>


<!-- end modal large -->
<%- include('footer') -%>
