



<%- include('../header') -%>

<div class="main-content">
  <div class="col-lg-12">
   
    <%  if (locals?.message) {  %>
 
        
      <div class="alert alert-success" role="alert">
        <%= message %>
      </div>
    
  <% } %>

  

  <div class="table-data__tool-right" style="margin-bottom:15px;">
    <div class="form-h"><button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#largeModal">
      <i class="zmdi zmdi-plus"></i>créer une dépense</button>
      
 </div>
    <%  if (locals?.depenses && locals?.depenses.length != 0) { %>
      <input type="text" id="searchInput" class="form-control" style="width:300px;margin-left:8px;" placeholder="Search ...">
      <% } %>
</div>
<%  if (locals?.depenses && locals?.depenses.length != 0) { %>
   <div class="table-responsive table-responsive-data2" style="width:100%;">
      
        <table class="table table-borderless table-striped table-earning" id="clientTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Montant</th>
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
              <%   
        for(var i=0; i< depenses.length; i++) { %>
                <tr>
                    <td><%= depenses[i].id %></td>
                    <td><%= depenses[i].montant %></td>
                    <td><%= depenses[i].description %></td>
                    
                    <td>
                     <% let dlink3 = '/supprimer_depense/?id='+depenses[i].id;
                    
                     let del = "del"+depenses[i].id;
                     let delx = "del"+depenses[i].id+"x"; %>
                      <div class="table-data-feature">
                         
                          <button  onclick="sup('<%= del %>')" class="item" data-toggle="tooltip" data-placement="top" title="supprimer">
                              <i class="zmdi zmdi-delete"></i>
                          </button>
                          <a href="<%= dlink3 %>" id="<%= delx %>"></a>
                          
                      </div>
                  </td>
                </tr>
                <% }  %>
               <script>

                function sup(x)
                {
                  if(confirm("souhaitez vous supprimer ?")==true)
                {
                  var s = x+"x";
                  document.getElementById(s).click();
                }
                }
               </script>
            </tbody>
        </table>
        <% }else{  %>
          Aucune dépense trouvée
          <% } %>
          <nav style="margin-top:30px;">
            <ul class="pagination justify-content-center">
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="/depenses?page=<%= currentPage - 1 %>">Previous</a>
                    </li>
                <% } %>
    
                <% for(let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="/depenses?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
    
                <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                        <a class="page-link" href="/depenses?page=<%= currentPage + 1 %>">Next</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>
</div>

<!-- modal large -->





<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel">Créer une dépense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="/ajouter_depense" method="post">

    <div class="modal-body">



        <p>
            <div class="form-group">
              <label for="nom" class=" form-control-label">Description (maximum deux mots)</label>
              <input type="text" required id="vat"  name="description" class="form-control">
          </div>

          <div class="form-group">
            <label for="nom" class=" form-control-label">Montant</label>
            <input type="number" required min="0"  name="montant" class="form-control">
        </div>
        <div class="form-group">
            <label for="nom" class=" form-control-label">Date</label>
            <input type="date" required   name="date" class="form-control">
        </div>
           </p>

         
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    </div>
  </div>
</div>
</div>


<!-- end modal large -->
<%- include('../footer') -%>
